# Dependencies
node_modules

# Build outputs
dist
dist-ssr
build
*.local

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
bun-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
.tsbuildinfo
*.tsbuildinfo

# Strapi
.strapi
.strapi-updater.json
.strapi-cloud.json
license.txt
exports
src/backend/public/uploads/*
!src/backend/public/uploads/.gitkeep

# Testing
coverage

# Misc
.tmp
*.sql
*.sqlite
*.sqlite3
ssl
